<app-home *ngIf="isSignedIn" (isLogout)="onLogOut()"></app-home> <!-- display dashboard -->
<div *ngIf="!isSignedIn" style="margin-top: 20%; margin-left: 40%;">
<div  class="example-container">
    <!-- email box -->
    <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput [formControl]="email" type="text" #emailSignup>
        <mat-error *ngIf="email.invalid">{{getErrorMessageMail()}}</mat-error>
    </mat-form-field>
</div>
<div class="example-container">
    <!-- password box -->
    <mat-form-field>
        <mat-label>password</mat-label>
        <input [formControl]="pass" matInput [type]="hide ? 'password' : 'text'" #passwordSignup>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="pass.invalid">{{getErrorMessagePass()}}</mat-error>
    </mat-form-field>

  </div>
<div *ngIf="isLogin">   <!-- login button  -->
  <button mat-raised-button color="primary" routerLink="/signup" (click)="swapMode()">don't have an account yet?</button> <!-- change login and signup -->
  <div style='margin-top: 2em;'>
    <button mat-raised-button color="primary" (click)="onSignin(emailSignup.value, passwordSignup.value)">login</button>
  </div>
</div>
<div *ngIf="!isLogin"> <!-- signup button  -->
  <button mat-raised-button color="primary" routerLink="/login" (click)="swapMode()">already have an account?</button>
  <!-- change login and signup -->
  <div style='margin-top: 2em;'>
  <button mat-raised-button color="primary" (click)="onSignup(emailSignup.value, passwordSignup.value)">Sign up</button>
  </div>
</div>
</div>